<div class="container">

  <form>
    <div class="row justify-content-center">
      <div class="col-6">
        <label class="form-label mt-2"> E-mail: </label>
        <input placeholder="E-mail" class="form-control" />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <label class="form-label mt-2"> Nome Completo: </label>
        <input placeholder="Nome Completo" class="form-control" />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <label class="form-label mt-2"> Nome de Usuário: </label>
        <input placeholder="Nome de Usuário" class="form-control" />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 mb-2">
        <label class="form-label mt-2"> Senha: </label>
        <input placeholder="Senha" type="password" class="form-control" />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <button class="btn btn-primary btn-block"> Cadastro </button>
      </div>
    </div>
</form>

    <div class="row justify-content-center">
      <div class="col-6">
        <p>Já possui Cadastro ? <a [routerLink]="['']"> Entrar! </a> </p>
      </div>
    </div>

</div>
